@media screen and (max-width: 800px) {
  .hideonmobile {
    display: none;
  }
  .showonmobile {
    display: block;
    font-size: 2.8vw;
  }
  .sectionmain img {
    display: block;
  }
  .floatl,
  .floatr {
    height: auto;
    width: 60vw;
  }
  p {
    font-size: 5vw;
  }
  .card {
    width: 55vw;
    height: 75vh;
  }
}
@media screen and (max-width: 1600px) {
  .nav-img {
    height: 8vh;
  }
  nav li {
    font-size: 2vw;
  }
}
@media screen and (max-width: 1940px){
    .card-container {
      display: block;
  }
}
