* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* navigation bar */
nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul {
  list-style: none;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
  padding-right: 5vw;
}
nav a {
  height: 100%;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover {
  background-color: #f0f0f0;
}
nav li:first-child {
  margin-right: auto;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50vw;
  z-index: 999;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.288);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  right: -50%;
  transition: all 1s;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
.showonmobile {
  display: none;
}
.nav-img {
  height: 13vh;
  display: flex;
  align-items: center;
  background-position: center;
}
/* header */
.headh1 {
  font-size: 5vw;
  padding-block: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0f0f0;
}
.headersec {
  height: fit-content;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(op\ jindal\ school.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* main */

.sectionmain {
  width: 85vw;
  margin: 0 auto 0 auto;
  padding-top: 10%;
}
.floatr {
  float: right;
  height: 20vw;
}
p {
  font-size: 2vw;
}
.floatl {
  float: left;
  height: 20vw;
}
.cyclediv,
.yogadiv,
.footballdiv {
  margin: 10vw 0 10vw 0;
}
.mainsec {
  padding-bottom: 40px;
}
.quote-mastercontainer {
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 85vw;
}
.quote-mastercontainer button {
  height: fit-content;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: beige;
  color: darkslategrey;
}
.quote-container {
  width: 75vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 0;
  margin: 0;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-y: hidden;
}
.quote {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: start;
  height: fit-content;
  scroll-snap-align: center;
  padding: 2.5vw;
  margin: 2.5vw;
  background-color: darkslategray;
}
.person {
  height: auto;
}
.quote-position {
  color: blueviolet;
}
.quote-text {
  display: block;
  color: coral;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.quote::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: conic-gradient(from var(--angle), transparent 75%, red);
  animation: border-animation 2.5s linear infinite;
  z-index: -1;
}
@keyframes border-animation {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
@media (orientation: portrait) {
  .hideonmobile {
    display: none;
  }
  .showonmobile {
    display: block;
    font-size: 2.8vw;
  }
  .sectionmain img {
    display: block;
  }
  .floatl,
  .floatr {
    height: auto;
    width: 85vw;
  }
  p {
    font-size: 5vw;
  }
  .quote-mastercontainer button {
    width: 5vw;
    padding: 1.25vw;
    margin: 1.25vw;
    font-size: 5vw;
    border-radius: 2vw;
  }
  .quote {
    width: 65vw;
    border-radius: 5vw;
  }
  .person {
    width: 65vw;
    border-radius: 5vw;
  }
  .quote::after {
    padding: 1vw;
    border-radius: 5vw;
  }
}
@media (orientation: landscape) {
  .nav-img {
    height: 8vh;
  }
  nav li {
    font-size: 2vw;
  }
  .quote-mastercontainer button {
    width: 3vw;
    padding: 1vw;
    margin: 1vw;
    font-size: 2vw;
    border-radius: 1vw;
  }
  .quote {
    width: 25vw;
    border-radius: 2.5vw;
  }
  .person {
    width: 15vw;
    border-radius: 2.5vw;
  }
  .quote-position {
    font-size: 1.5vw;
  }
  .quote-text {
    font-size: 1vw;
  }
  .quote::after {
    padding: 0.5vw;
    border-radius: 2.5vw;
  }
}
@media (min-width:736px){
  .nav-img{
    height: 5vh;
  }
}
